<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="phongban" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;c:\users\tuan nguyen\documents\visual studio 2015\Projects\Test1\Test1\App_Data\Database1.mdf&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Database1ConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
